---
// Footer component - styl zgodny z tomaszlebioda.com
---

<footer class="footer">
    <span
        ><a
            href="https://noiseandwhisper.uk/flagly/"
            target="_blank"
            rel="noopener">Flagly</a
        > v1.0.3</span
    >
    <span class="footer-divider">|</span>
    <span
        >© 2026 <a
            href="https://www.linkedin.com/in/tlebioda/"
            target="_blank"
            rel="noopener">Tomasz Lebioda</a
        ></span
    >
</footer>
